/dts-v1/;

#include "tegra30-cardhu.dtsi"
#include "tegra30-cardhu-ouya-memory.dtsi"

/ {
	model = "Ouya";
	compatible = "nvidia,ouya", "nvidia,cardhu", "nvidia,tegra30";

	/* Already disabled */
	/delete-node/ usb@7d000000;
	/delete-node/ usb-phy@7d000000;

	/* Explicitly disabled */
	/delete-node/ pcie-controller@00003000;
	/delete-node/ i2c@7000c000; /* panelddc */
	/delete-node/ panel;
	/delete-node/ backlight;
	/delete-node/ isl29029@44;

	/* FIXME: broken */

	aliases {
		rtc0 = "/rtc@7000e000";
		rtc1 = "/i2c@7000d000/tps65911@2d";
		serial0 = &uartd;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <0>;
			next-level-cache = <&L2>;
			operating-points = <
			/* kHz    uV */
/*			1700000  1350000 */
			1000000  1200000
/*			910000  1200000
			550000  950000
*/			>;
			clock-latency = <600000>; /* two CLK32 periods */
			#cooling-cells = <2>;
			cooling-min-level = <0>;
			cooling-max-level = <2>;
			clocks = <&tegra_car TEGRA30_CLK_CCLK_G>,
				 <&tegra_car TEGRA30_CLK_CCLK_LP>,
				 <&tegra_car TEGRA30_CLK_PLL_X>,
				 <&tegra_car TEGRA30_CLK_PLL_P>;
			clock-names = "cpu_g", "cpu_lp", "pll_x", "pll_p";

		};
		cpu@1 {
			next-level-cache = <&L2>;
		};

		cpu@2 {
			next-level-cache = <&L2>;
		};

		cpu@3 {
			next-level-cache = <&L2>;
		};
	};

	L2: cache-controller@50043000 {
	};

	smmu {
		compatible = "nvidia,tegra30-smmu";
		reg = <0x7000f010 0x02c
		       0x7000f1f0 0x010
		       0x7000f228 0x05c>;
		nvidia,#asids = <4>;		/* # of ASIDs */
		dma-window = <0 0x40000000>;	/* IOVA start & length */
		nvidia,ahb = <&ahb>;
	};

	memory {
		reg = <0x80000000 0x3fe00000>;
	};

	firmware {
		trusted-foundations {
			compatible = "tlm,trusted-foundations";
			tlm,version-major = <0x2>;
			tlm,version-minor = <0x8>;
		};
	};

	host1x@50000000 {
		dc@54200000 {
			rgb {
				status = "disabled";
				/delete-property/ nvidia,panel;
			};
		};

		hdmi@54280000 {
			status = "okay";
			nvidia,hpd-gpio = <&gpio TEGRA_GPIO(N, 7) GPIO_ACTIVE_HIGH>;
		};
	};

	gpio: gpio@6000d000 {
		gpio-ranges = <&pinmux 0 0 248>;
		#reset-cells = <1>;
	};

	pinmux@70000868 {
		pinctrl-names = "default";
		pinctrl-0 = <&state_default>;

		state_default: pinmux {
/*			sdmmc4_rst_pcc3 {
				nvidia,pins =	"sdmmc4_rst_n_pcc3";
				nvidia,function = "sdmmc4";
				nvidia,pull = <TEGRA_PIN_PULL_DOWN>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
			sdmmc4_clk_pcc4 {
				nvidia,pins =	"sdmmc4_clk_pcc4";
				nvidia,function = "sdmmc4";
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};*/

			sdmmc4_clk_pcc4 {
				nvidia,pins =	"sdmmc4_clk_pcc4",
						"sdmmc4_rst_n_pcc3";
				nvidia,function = "sdmmc4";
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};

			sdmmc4_cmd_pt7 {
				nvidia,pins =	"sdmmc4_cmd_pt7",
						"sdmmc4_dat0_paa0",
						"sdmmc4_dat1_paa1",
						"sdmmc4_dat2_paa2",
						"sdmmc4_dat3_paa3",
						"sdmmc4_dat4_paa4",
						"sdmmc4_dat5_paa5",
						"sdmmc4_dat6_paa6",
						"sdmmc4_dat7_paa7";
				nvidia,function = "sdmmc4";
				nvidia,pull = <TEGRA_PIN_PULL_UP>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
			};
		};
	};

	serial@70006000 {
		compatible = "nvidia,tegra30-hsuart";
		status = "okay";
	};

	serial@70006040 {
		compatible = "nvidia,tegra30-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra30-hsuart";
		status = "okay";
	};

	serial@70006300 {
		/*compatible = "nvidia,tegra30-hsuart";*/
		status = "okay";
	};

	serial@70006400 {
		compatible = "nvidia,tegra30-hsuart";
		status = "disabled";
	};

	i2c@7000d000 {
		multi-master;
		clock-frequency = <400000>;
		temperature-sensor@4c {
			update-interval = <500>;
			local-low = <5000>;
			local-high = <80000>;
			local-critical = <90000>;
			remote-low = <1000>;
			remote-high = <80000>;
			remote-critical = <90000>;
			remote-offset = <(-62125)>;
		};
		wm8903: wm8903@1a {
			status = "okay" ;
		};

		pmic: tps65911@2d {
		};
	};

	pmc@7000e400 {
		nvidia,suspend-mode = <0>;
		nvidia,lp0-vec = <0xbddf9000 8192>;
	};

	sdhci@78000000 {
		status = "disabled";
		non-removable;
		max-frequency = <41000000>;
		bus-width = <4>;
	};

	sdhci@78000200 {
		status = "disabled";
		non-removable;
		max-frequency = <41000000>;
		bus-width = <1>;
	};

	sdhci@78000400 {
		status = "okay";
		non-removable;
/*		max-frequency = <41000000>;*/
		power-gpios = <&gpio TEGRA_GPIO(D, 4) GPIO_ACTIVE_HIGH>;
		bus-width = <4>;
		mmc-pwrseq = <&sdhci3_pwrseq>;
		
		brcmf: wifi@1 {
/*			reg = <1>;*/
			compatible = "brcm,bcm4329-fmac";
		};
	};

	sdhci@78000600 {
		status = "okay";
		non-removable; 
/*		broken-cd;*/
		keep-power-in-suspend;
		cap-mmc-hw-reset;
/*		max-frequency = <41000000>;*/
		bus-width = <8>;
/*		nvidia,needs-double-reset;*/
/*		cd-gpios = <&gpio TEGRA_GPIO(I, 5) GPIO_ACTIVE_LOW>; */
/*		wp-gpios = <&gpio TEGRA_GPIO(T, 3) GPIO_ACTIVE_HIGH>; */
/*		vmmc-supply = <&emmc_3v3_reg>;
		vqmmc-supply = <&ldo5_reg>; */
/*		power-gpios = <&gpio TEGRA_GPIO(BB, 0) GPIO_OPEN_DRAIN>; 
		power-gpios = <&gpio TEGRA_GPIO(EE, 4) GPIO_OPEN_DRAIN>,
			      <&gpio TEGRA_GPIO(I, 6) GPIO_ACTIVE_HIGH>,
			      <&gpio TEGRA_GPIO(K, 4) GPIO_ACTIVE_HIGH>,
			      <&gpio TEGRA_GPIO(B, 2) GPIO_ACTIVE_HIGH>; */
/*		mmc-pwrseq = <&sdhci4_pwrseq>; */
	};

	usb@7d004000 {
		status = "okay";
		vbus-supply = <&vdd_smsc>;
/*		mmc-pwrseq = <&smsc_pwrseq>;*/
	};

	usb-phy@7d004000 {
		nvidia,hssync-start-delay = <0>;
		nvidia,xcvr-setup = <15>;
		nvidia,xcvr-hsslew = <8>;
		nvidia,hsdiscon-level = <1>;
		status = "okay";
	};

	usb-phy@7d008000 {
		nvidia,xcvr-setup = <8>;
		nvidia,xcvr-hsslew = <8>;
		nvidia,hsdiscon-level = <1>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		ddr_reg: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "vdd_ddr";
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <1500000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&pmic 7 GPIO_ACTIVE_HIGH>;
		};

		sys_3v3_reg: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "sys_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&pmic 6 GPIO_ACTIVE_HIGH>;
		};

		usb1_vbus_reg: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(DD, 6) GPIO_ACTIVE_HIGH>;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_reg>;
			regulator-always-on;
		};

		usb3_vbus_reg: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "usb3_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(DD, 4) GPIO_ACTIVE_HIGH>;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_reg>;
		};

		vdd_5v0_reg: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&pmic 8 GPIO_ACTIVE_HIGH>;
		};

		vdd_bl_reg: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "vdd_bl";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(DD, 2) GPIO_ACTIVE_HIGH>;
		};

		vdd_bl2_reg: regulator@106 {
			compatible = "regulator-fixed";
			reg = <106>;
			regulator-name = "vdd_bl2";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(DD, 0) GPIO_ACTIVE_HIGH>;
		};

		vdd_fan: regulator@9 {
			compatible = "regulator-fixed";
			reg = <9>;
			regulator-name = "+VDD_5V_FAN";
			regulator-min-microvolt = <2000000>;
			regulator-max-microvolt = <2000000>;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio TEGRA_GPIO(J, 2) GPIO_ACTIVE_HIGH>;
		};
		
		vdd_smsc: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "vdd_smsc";
			regulator-always-on;
			startup-delay-us = <4000000>;
			gpio = <&gpio TEGRA_GPIO(DD, 5) GPIO_ACTIVE_HIGH>;
		};

		modem_3v3_reg: regulator@4 {
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_vid_reg: regulator@12 {
			compatible = "regulator-fixed";
			reg = <12>;
			regulator-name = "vddio_vid";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(T, 0) GPIO_OPEN_DRAIN>;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_reg>;
			regulator-boot-on;
			regulator-always-on;
		};

		cam_1v8_reg: regulator@1 {
			regulator-boot-on;
			regulator-always-on;
		};


	};

	gpio-keys {
		power {
			/delete-property/ interrupt-parent;
			/delete-property/ interrupts;
			gpios = <&gpio TEGRA_GPIO(V, 0) GPIO_ACTIVE_LOW>;
			debounce-interval = <10>;
		};

		/delete-node/ volume-down;
		/delete-node/ volume-up;
	};

/*	smsc_pwrseq: smsc_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio TEGRA_GPIO(DD, 5) GPIO_ACTIVE_HIGH>;
		post-power-on-delay-ms = <1000>;
	};*/


	sdhci3_pwrseq: sdhci3_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio TEGRA_GPIO(D, 3) GPIO_ACTIVE_LOW>;
/*		post-power-on-delay-ms = <100000>; */
	};

/*	sdhci4_pwrseq: sdhci4_pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio TEGRA_GPIO(DD, 1) GPIO_ACTIVE_LOW>;
	}; */

};
